<?xml version="1.0" encoding="UTF-8"?>
<!-- 上面第一行是xml的开始行。表明了xml的版本和字符编码。这一行是可以省略的 -->
<!-- 下面两行是DTD的定义
内部DTD：<!DOCTYPE RootElement [具体定义]> 
私有外部DTD：<!DOCTYPE RootElement SYSTEM 具体url>
公共外部DTD：<!DOCTYPE RootElement PUBLIC DTD名称[注册//组织//类型 标签//语言]
        具体url>
参考文献：http://blog.csdn.net/wenpengy/article/details/5943451-->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
    	<!-- <typeAlias alias="TomStudent" type="com.qingke.mybatis.model.Student"/> -->
    	<package name="com.qingke.mybatis.model" />
    </typeAliases>
    <!-- 注册userMapper.xml文件， 
        userMapper.xml位于me.gacl.mapping这个包下，所以resource写成me/gacl/mapping/userMapper.xml-->
    <mappers>
        <mapper resource="com/spring/hibernate/tables/student.xml"/>
    </mappers>
</configuration>